@media screen and (min-width: 480px) {

.banner {
	position: relative;
    margin: 8% 45% 0 15%;
}

#wrapper {
    border: 1px black;
    top: 30%;
    margin-left: 39%;
}


}

@media screen and (min-width: 660px) {

}
